<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	layout:decorate="layout/mainLayout">

<head>
<title>Brand - New</title>
</head>
<body>
	<div layout:fragment="pageHeader">
		<section class="content-header">
			<h1>Manage Brand</h1>
		</section>
	</div>

	<div layout:fragment="content">

		<div class="box box-warning">
			<div class="box-header with-border">
				<h3 class="box-title">Create New Brand</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<form role="form" th:action="@{/brands/new}" th:object="${brand}" method="post">
<!-- 					<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p> -->
					
					<!-- text input -->
					<div class="form-group" th:classappend="${#fields.hasErrors('code')}? 'has-error'">
							<label>Code</label> 
							<input type="text" class="form-control" name="code" th:field="*{code}" placeholder="Enter New Brand Code" />
							<p th:if="${#fields.hasErrors('code')}" th:errors="*{code}" th:class="text-red">Incorrect data</p>
					</div>


					<div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
						<label>Description</label> 
						<input type="text" class="form-control" name="description" th:field="*{description}" placeholder="Enter New Brand Desc" />
						<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="text-red">Incorrect data</p>
					</div>


					<div class="form-group" th:classappend="${#fields.hasErrors('transmissionType')}? 'has-error'">
						<label>Transmission Type</label> 
						<select id="transmissionType" multiple="multiple" class="form-control" th:field="*{transmissionType}" th:remove="all-but-first" >
							<option th:each="transmissionType : ${transmissionTypes}" 
									th:value="${transmissionType.id}"  th:text="${transmissionType.code}">List of Transmission Type</option>
						</select>
                      <p th:if="${#fields.hasErrors('transmissionType')}" th:errors="*{transmissionType}" th:class="text-red">Incorrect data</p>
					</div>


					<div class="form-group" th:classappend="${#fields.hasErrors('style')}? 'has-error'">
						<label>Color</label> 
<!-- 						<input type="text" class="form-control" name="color" th:field="*{style}" placeholder="Enter The Color" /> -->
				<select class="form-control" id="color" name="color" th:field="*{style}" >
                  <option th:value="Select" th:class="bg-maroon">Select</option>
                  <option th:value="bg-maroon" th:class="bg-maroon">bg-maroon</option>
                  <option th:value="bg-purple" th:class="bg-purple" >bg-purple</option>
                  <option th:value="bg-navy" th:class="bg-navy" >bg-navy</option>
                  <option th:value="bg-orange" th:class="bg-orange">bg-orange</option>
                  <option th:value="bg-olive" th:class="bg-olive" >bg-olive</option>
                  <option th:value="bg-danger" th:class="bg-danger" >danger</option>
                 <option th:value="btn-primary" th:class="btn-primary" >primary</option>
<!--                  <option th:value="text-red" th:class="text-red" >red</option> -->
<!--                  <option th:value="text-purple" th:class="text-purple" >purple</option> -->
<!--                  <option th:value="text-fuchsia" th:class="text-fuchsia" >fuchsia</option> -->
<!--                  <option th:value="text-muted" th:class="text-muted" >muted</option> -->
<!--                  <option th:value="text-navy" th:class="text-navy" >navy</option> -->
                  </select>
						<p th:if="${#fields.hasErrors('style')}" th:errors="*{style}" th:class="text-red">Incorrect data</p>
					</div>


					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
					
				</form>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>


</body>

</html>