<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="layout/mainLayout">
      
      <head>
        <title>Lab - Edit</title>
    </head>
    <body>
        
    	<div layout:fragment="content">
	        
              <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Edit Lab</h3>
                </div><!-- /.box-header -->
                                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                    	<a class="btn btn-sm btn-default" th:href="@{/labs/del/{id}(id=${lab.id})}" th:object="${lab}"><i class="fa fa-minus-circle"></i> Delete Lab</a>
                    </div>
                  </div>
                <div class="box-body">
                  <form role="form" th:action="@{/labs/{id}(id=${lab.id})}" th:object="${lab}" method="post">
<!--                   	<p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p> -->
                    <!-- text input -->
                   	<div class="form-group">
						<label>Owner</label> 
<!-- 						<select class="form-control" th:field="*{user}" th:remove="all-but-first" th:classappend="${#fields.hasErrors('user')}? 'has-error'"> -->
						<select class="form-control" th:field="*{users}" th:remove="all-but-first" >
							<option th:each="user : ${allUsers}"
									th:value="${user.id}" th:text="${user.name}">List of Users</option>
						</select>
					</div> 
                   	<div class="form-group">
						<label>PM</label> 
<!-- 						<select class="form-control" th:field="*{user}" th:remove="all-but-first" th:classappend="${#fields.hasErrors('user')}? 'has-error'"> -->
						<select class="form-control" th:field="*{projectMgr}" th:remove="all-but-first" >
							<option th:each="user : ${allUsers}"
									th:value="${user.name}" th:text="${user.name}">List of PM</option>
						</select>
					</div> 
					<div class="form-group">
                      <label>Name</label>
                      <input type="text" class="form-control" name="name" th:field="*{name}" />
                    </div>
                    
                    <div class="form-group">
                      <label>Description</label>
                      <input type="text" class="form-control" name="description" th:field="*{description}" />
                    </div>
   
                    <div class="form-group">
                      <label>OS</label>
                      <input type="text" class="form-control" name="os" th:field="*{os}" />
                    </div>

					<div class="form-group" th:classappend="${#fields.hasErrors('status')}? 'has-error'">
						<label>OS</label> 
						
						<p th:if="${#fields.hasErrors('status')}" th:errors="*{status}" th:class="text-red">Incorrect data</p>
							<select class="form-control" name="color" th:field="*{status}" >
						      <option th:value="BUSY" th:class="bg-maroon">BUSY</option>
			                  <option th:value="Available" th:class="bg-purple" >Available</option>
			                  <option th:value="Active" th:class="bg-navy" >Active</option>
			                  <option th:value="Inactive" th:class="bg-orange">Inactive</option>
		                  	</select>
						<p th:if="${#fields.hasErrors('status')}" th:errors="*{status}" th:class="text-red">Incorrect data</p>
					</div>

                    					
<!-- 					<div class="form-group"> -->
<!-- 						<label>Roles</label> -->
<!-- 						<div> -->
<!-- 						  <p th:each="role,rowStat : ${rolesList}"> -->
<!-- 						    <input type="checkbox" th:field="*{roles[__${rowStat.index}__].id}" th:value="${role.id}" /> -->
<!-- 						    <label th:text="${role.name}">Role</label> -->
<!-- 						  </p> -->
<!-- 						</div> -->
						
<!--     				</div> -->
    				
					<div class="box-footer" >
	                    <button type="submit" class="btn btn-primary">Submit</button>
	                </div>
                  </form>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
    	</div>
    	
    </body>
    
</html>